.list-channels-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.channels-card {
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #dddddd;
    margin-bottom: 10px;
}
.channels-heading {
    padding-top: 5px;
    text-align: center;
}

.channel-row {
    width: 100%;
}

.channel-name {
    width: 80%;
    display: inline-block;
}

.channel-link {
    width: 20%;
    display: inline-block;
    color: #71e5fe!important;

}

.channel-link:hover {
    cursor: pointer!important;
}

.searchbar-container {

}

.searchbar {
    width: 100%;
    border: solid 1px #dddddd;
    border-radius: 10px;
    padding: 5px;
}

.fas {
    font-size: 12px;
    color: darkgray;
}