.inputs-container {
    padding-left: 30px;
    padding-right: 30px;
}

.create-heading {
    padding-top: 30px;
    text-align: center;
}
.heading-input-container {
    padding: 5px;
}

.heading-input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #dddddd;
}

.category-dropdown-container {
    padding: 5px;
}

.category-dropdown {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px #dddddd;
}

.opinion-dropdown-container {
    padding: 5px;
}

.opinion-dropdown {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px #dddddd;
}

.text-area-container {
    padding: 5px;
    
}
.description-input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px #dddddd;
}

.submit-button {
    float: right!important;
    margin-right: 10px;
}