.header-container {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #71e5fe;
    color: #71e5fe;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    z-index: 1000000;
}

.header-heading {
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
    font-family: 'Galada', cursive;
}