.footer-container {
    height: 70px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
    border-top: solid 1px #71e5fe;
}

.button-container {
    display: inline-block;

}
.footer-button {
    background-color: white;
    border: none;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-top: 5px;
}

.mainfeed {
    color: #0056b3;
    border: solid 2px #71e5fe;
    border-radius: 5px;
    font-weight: 400;
    width: 100%;

}

.channels {
    color: #0056b3;
    border: solid 2px #71e5fe;
    border-radius: 5px;
    font-weight: 400;
    width: 100%;
}

.create {
    color: white;
    background-color: steelblue;
    border-radius: 20px;
    padding: 18px;
    font-weight: lighter;
    font-size: 16px;
}

.channels-container {
    width: 33%;
    padding: 10px;
}

.create-container {
    width: 34%;
    margin: 0 auto;

}

.mainfeed-container {
    width: 33%;
    margin: 0 auto;
    padding: 10px;
}