.logo {
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: 30%;
}

.logo-small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: 10%;
}

.sub-heading{
    color: black;
    margin-top: 0px;
    font-weight: bold;
}


.select-container {
    padding: 20px;
    padding-top: 60px;
}

.heading-text {
    color: #71e5fe;
    font-weight: bold;
}

.userinfo {
    padding-top: 100px;
    text-align: center;
}

.area-input {
    background-color: #c8c8c8;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 26px;
    text-align: center;
    width: 50%;
    color: white;
    height: 50px;
}

@media only screen and (max-width: 500px) {
    .logo {
        padding-top: 200px;
        width: 80%;
    }
}