.initiative-card {
    border-radius: 8px;
    border: solid 1px #71e5fe;
    background-color: ghostwhite;
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.initiative-information-container {
    display: inline-block;
    width: calc(100% - 40px);
    vertical-align: top;
}

.initiative-information-container-shorter {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.initiative-information-smalls {
    width: 100%;
    height: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.initiative-information-target {
    padding-left: 5px;
    float: left;
}

.initiative-information-content {
    padding: 5px;
    padding-left: 10px;
}

.initiative-information-votes {
    padding-right: 5px;
    float: right;
}
.initiative-actions-container {
    display: inline-block;
    width: 40px;
    height: 100%;
}

.initiative-actions-container-wider {
    display: inline-block;
    width: 40%;
    height: 100%;
    border-left: solid 1px #71e5fe;
}
.initiative-vote-buttons-container {
    width: 100%;
    border-top: solid 1px #71e5fe;
}
.vote-button {
    width: 33.3%;
    display: inline-block;
    background-color: white;
    color: #71e5fe;
    padding: 5px;
    border: none;
    height: 33%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
}

.initiative-name {
    padding-top: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.initiative-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.no-active:active {
    text-decoration: none!important;
}